
.form-element {
    padding: 5px 0px 25px 2px;
  }
  
.owner-card{
    display: inline-block;
}
.title{
    text-align: center;
    vertical-align: middle;
}
.header{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    margin-right: 0.75rem;

}
.value{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

::ng-deep .mat-list-item-content{
    padding: 0.5rem !important;
}

::ng-deep .mat-form-field{
    display: contents !important;
}

.middle{
    text-align: center;
}