<ngx-loading [show]="isLoading$" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>
<div class="image">
    <mat-toolbar class="app-title" style="text-align: center;display: block;">
        <img class="logo" width="200rem" src="/site/assets/logo2.png">
    </mat-toolbar>
    <div cdkDropList>
        <mat-grid-list cols="3" rowHeight="1:1">
            <mat-grid-tile>
                <app-my-network></app-my-network>
            </mat-grid-tile>
            <mat-grid-tile>
                <app-profile></app-profile>
            </mat-grid-tile>
            <mat-grid-tile>
                <app-owner></app-owner>
            </mat-grid-tile>
            <router-outlet></router-outlet>
        </mat-grid-list>
    </div>
    <div class="button-holder">
        <button [disabled]="isRunning$" class="button-img" (click)="start()">
            <img class="start-button" src="assets/start.jpg">
        </button>
    </div>
    
    <div class="footer-bar"> 
    <a href="https://github.com/oryaacov/net-alert"><img class="github" src="assets/github.png"> </a>
    </div>
</div>