.app-title {
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  width: 100%;
  background-color: transparent;
  display: block;
  display: grid;
  font-size: xx-large;
}

::ng-deep .mat-grid-tile {
  overflow: visible !important;
}


.github{
    background-color: white;
    width: 2rem;
    height:2rem;
}

.footer-bar{
    position: fixed;
    bottom: 0;
    left:50%;
}