.header {
  font-weight: bold;
  margin-right: 0.75rem;
}
.value {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.card {
  display: inline-block;
}

.title {
  text-align: center;
  vertical-align: middle;
  padding-top: 2rem;
}

.pin-image {
  border-radius: 3px !important;
}
.pin-frame {
  text-align: center;
  margin-top: -4rem !important;
  cursor: grab;
}
