.header{
    font-weight: bold;
    margin-right: 0.75rem;
}
.value{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.title{
    text-align: center;
    vertical-align: middle;
}
.card{
    display: inline-block;
}