<div cdkDrag>

    <mat-card class="owner-card">
        <div class="pin-frame">
            <img class="pin-image" src="assets//pin.jpg" width="50rem" height="50rem">
        </div>
        <mat-card-title class="title"><span>Profiles</span>
                <button class="add-button" (click)="openDialog('Add',{},0)">
                        <mat-icon>add</mat-icon>
                    </button>
        </mat-card-title>
        <div class="container table-holder">
           
            <table mat-table #mytable class="my-table mat-elevation-z8">
                <ng-container matColumnDef="mac">
                    <th mat-header-cell *matHeaderCellDef> MAC </th>
                    <td mat-cell *matCellDef="let element"> {{element.Mac}} </td>
                </ng-container>
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.NickName}} </td>
                </ng-container>
                <ng-container matColumnDef="created_at">
                    <th mat-header-cell *matHeaderCellDef> Created at </th>
                    <td mat-cell *matCellDef="let element"> {{element.CreateDate|date:'short'}} </td>
                </ng-container>
                <ng-container matColumnDef="sites">
                    <th mat-header-cell *matHeaderCellDef> Sites </th>
                    <td mat-cell *matCellDef="let element">
                        <ul>
                            <li *ngFor="let site of element.Sites ">
                                {{site.IP+ " - "+site.Domain}}
                            </li>
                        </ul>
                    </td>
                </ng-container>
                <ng-container class="action-z" matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef> Action </th>
                    <td mat-cell *matCellDef="let element;let i=index" class="action-link">
                        <a class="action-z" (click)="openDialog('Update',element,i)">Edit</a> |
                        <a class="action-z" (click)="openDialog('Delete',element,i)">Delete</a>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

        </div>
    </mat-card>
</div>